.back-button{
    background-color: #FF325A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.go-back-btn {
    background-color: #FF325A;
    border: none;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.go-back-btn a {
    display: block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.go-back-btn:hover {
    background-color: #e0284d;
}