<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/footer.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="/images/img_1.png" alt="Alpha Solutions" style="height: 40px;">
    </div>
    <div class="footer-contact">
      <a href="tel:70206538">70 20 65 38 </a>
      <a href="mailto:cph@alpha-solutions.com">cph@alpha-solutions.com</a>
    </div>
    <a href="https://www.alpha-solutions.com/da/persondatapolitik" target="_blank">Data policy</a>
    <a href="https://www.alpha-solutions.com/da" target="_blank">A/S main page</a>
  </div>
</footer>
</body>
</html>