<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>
    <link rel="stylesheet" href="/projectsPage.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/footer.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<button onclick="history.back()" class="add-button">Go back</button>
<h1>Create New Project</h1>

<div class="container">
    <form th:action="@{/project/save}" method="post" th:object="${project}">
        <label for="name">Project name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Enter project name" required>


        <label for="name"> Project leader</label>
        <select th:field="*{projectLeader.id}" id="projectLeader">
            <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name}"></option>
        </select>

        <label for="description">Description</label>
        <textarea th:field="*{description}" id="description" placeholder="Write a short project description...">
        </textarea>

        <label>Project members</label>
        <button class="add-button" type="button">Add colleagues ▼</button>

        <div class="add-colleagues-list">

        </div>
        <section class="members-section">
            <h3>Colleagues added</h3>
            <div class="colleagues-added">

            </div>
            <button class="create-btn" type="submit"> Create </button>
        </section>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
