<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/navbar.css">
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="section">

    <div class="section-title">
        <a href="create">Create new project</a>

    </div>

    <div class="create-box">
        <div class="plus">+</div>
    </div>

</div>

<div class="section">

    <div class="section-title">
        In progress project
    </div>

    <div class="projects">

        <div class="project">
            <div class="line large"></div>
            <div class="line medium"></div>
            <div class="line small"></div>
        </div>

        <div class="project">
            <div class="line medium"></div>
            <div class="line large"></div>
            <div class="line medium"></div>
        </div>

        <div class="project">
            <div class="line small"></div>
            <div class="line medium"></div>
            <div class="line large"></div>
        </div>

    </div>
</div>
</body>
</html>