<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/navbar.css">
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="section">

    <div class="section-title">
        Create new project
    </div>

    <a class="create-box" href="/projects/create">
        <div class="plus">+</div>
    </a>

</div>

<div class="section">

    <div class="section-title">
        In progress project
    </div>

    <div class="projects">

        <div class="project" th:each="project : ${projects}">
            <div th:text="${project.id}"></div>
            <div th:text="${project.name}"></div>
            <div th:text="${project.projectLeader.name}"></div>
            <a th:href="@{/prototype/{project_id}(project_id=${project.id})}">
                Go to project
            </a>
        </div>

    </div>
</div>
</body>
</html>