<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/login-page.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/footer.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<form>
    <div class="login-title">
        <h1>Alpha Solutions</h1>
    </div>
    <div class="login">
            <input placeholder="Username:"/>
            <input placeholder="Password:"/>
        <div class="login-buttons">
            <button type="submit">
                <a th:href="@{/project}">Login</a>
            </button>
        </div>
        <h5>Forgot your Password/Username? </h5>
        <button type="button">
            <a href="mailto:AS@ITsupport.com" >Contact IT-support</a>
        </button>
    </div>
</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>