<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>
    <link rel="stylesheet" href="/projectsPage.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1>Create New Project</h1>

<div class="container">
    <section class="form-section">
        <label for="projectName">Project name</label>
        <input type="text" id="projectName" placeholder="Enter project name">

        <label for="projectLeader">Project leader</label>
        <input type="text" id="projectLeader" placeholder="Enter leader name">

        <label for="description">Description</label>
        <textarea id="description" placeholder="Write a short project description..."></textarea>

        <label>Project members</label>
        <button class="add-button">Add colleagues ▼</button>

        <div class="add-colleagues-list">

        </div>
    </section>

    <section class="members-section">
        <h3>Colleagues added</h3>
        <div class="colleagues-added">

        </div>

        <button class="create-btn">
        <a href="/prototype/project-name/subproject">Create</a>
        </button>
    </section>
</div>

</body>
</html>
