<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Projects Page</title>
    <link rel="stylesheet" href="/subProjectsPage.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/goback.css">
</head>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/goback :: goback}"></div>

<body>


<h1 th:text="${project.name + ' Overview'}"></h1>
<div class="main-container">
    <!-- Add -->
    <div class="column">
        <h3>Add</h3>
        <div class="add-box">
            <a th:href="@{/subproject/{projectId}/create(projectId=${project.id})}">
                <span>＋</span>
                <p>Create new</p>
            </a>
        </div>
        <div class="task"></div>
    </div>

    <!-- On going -->
    <div class="column">
        <h3>On going</h3>
        <div class="task" th:each="subProject : ${subProjects}">
            <div th:text="${subProject.name}"></div>
            <div th:text="${subProject.description}"></div>
            <a th:href="@{/subproject/{subProjectId}(subProjectId=${subProject.id})}">
                Go to sub-project
            </a>
        </div>
    </div>

    <!-- Finished -->
    <div class="column">
        <h3>Finished</h3>
        <div class="task"></div>
        <div class="task"></div>
    </div>
</div>

<footer>
    <div>Est. Price: <span th:text="${totalPrice} + 'kr.'">0 kr</span></div>
    <div>Est. Time:<span th:text="${totalHours} + 'h.'">0 h.</span></div>
</footer>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
