<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subProject.name} + ' add task'"></title>
    <link rel="stylesheet" href="/tasksPage.css"/>
    <link rel="stylesheet" href="/navbar.css"/>
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/goback.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/goback :: goback}"></div>

<main class="SpalteAdd">
    <div class="sidebar">
        <a th:href="@{/task/{subProjectId}/create(subProjectId=${subProjectId})}" class="add-tasks">
            Add Tasks +
        </a>
    </div>

    <div class="tasks-board">

        <div class="column">
            <h2>Tasks added</h2>
            <div th:each="task : ${tasks}" class="task-item">
                <button class="done-btn">Done</button>
                <span th:text="${task.name}">Task name</span>
                <span th:text="${task.hours}">0</span>
            </div>
        </div>

        <div class="column">
            <h2>Done Tasks</h2>
            <div th:each="task : ${doneTasks}" class="task-item">
                <button class="delete-btn">X</button>
                <span th:text="${task.name}">Task name</span>
                <span th:text="${task.hours}">0</span>
            </div>
        </div>
    </div>


</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>