<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Projects Page</title>
    <link rel="stylesheet" href="/subProjectsPage.css">
</head>

<body>

<header>
    <button>Home</button>
    <button class="logout-btn">Log out</button>
</header>

<h1>Projects Overview</h1>

<div class="main-container">
    <!-- Add -->
    <div class="column">
        <h3>Add</h3>
        <div class="add-box">
            <a href="taskpage.html">
                <span>＋</span>
                <p>Create new</p>
            </a>
        </div>
        <div class="task"></div>
    </div>

    <!-- On going -->
    <div class="column">
        <h3>On going</h3>
        <div class="task"></div>
        <div class="task"></div>
        <div class="task"></div>
    </div>

    <!-- Finished -->
    <div class="column">
        <h3>Finished</h3>
        <div class="task"></div>
        <div class="task"></div>
    </div>
</div>

<footer>
    <div>Price Est.:</div>
    <div>Hours/days:</div>
</footer>

</body>
</html>
